/* ======= RESET ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #240046;
  color: #e0e0e0;
  line-height: 1.6;
}

/* ======= VARIÁVEIS ======= */
:root {
  --primary: #4361ee;
  --secondary: #ffffff;
  --dark: #10002b;
  --medium: #240046;
  --light: #9d4edd;
  --text: #e0e0e0;
}

/* ======= HEADER ======= */
header {
  background-color: var(--medium);
  border-bottom: 2px solid var(--secondary);
}



#header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  color: var(--secondary);
  font-size: 2rem;
}

nav {
  margin-top: 10px;
}

nav a {
  color: var(--text);
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--secondary);
}

/* ======= SEÇÃO SOBRE ======= */
#sobre {
  padding: 80px 20px;
  background-color: var(--medium);
  text-align: center;
  color: var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 40px;
}

#sobre-img {
  width: 50%;
}

#sobre-texto {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#sobre img {
  width: 300px;
  height: 300px;
  border-radius: 30% 70% 60% 40% / 30% 30% 70% 70%;
  transform: rotate(-5deg);
  object-fit: cover;
  border: 3px solid var(--primary);
  box-shadow: 0 4px 15px rgba(10, 255, 194, 0.432);
}

#sobre h2 {
  color: var(--secondary);
  font-size: 2rem;
}

#sobre p {
  max-width: 900px;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #d6dbe0;
  line-height: 1.7;
  text-align: justify;
}

/* ======= SEÇÃO PROJETOS ======= */
#projetos {
  padding: 80px 20px;
  background-color: var(--dark);
  color: var(--text);
  text-align: center;
}

#projetos h2 {
  color: var(--secondary);
  font-size: 2rem;
  margin-bottom: 40px;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-items: center;
}

.projeto-card {
  background-color: var(--medium);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.projeto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--secondary);
}

.projeto-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projeto-card h3 {
  color: var(--secondary);
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.projeto-card p {
  color: #cdd9e5;
  font-size: 1rem;
}


/* ======= SEÇÃO CONTATO ======= */
#contato {
  text-align: center;
  padding: 80px 20px;
  background-color: var(--dark);
  border-top: 2px solid var(--secondary);
}

#contato h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin-bottom: 10px;
}

#contato p {
  color: #cdd9e5;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.links-contato {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  background-color: var(--medium);
  color: var(--text);
  padding: 12px 22px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.link:hover {
  background-color: var(--secondary);
  color: var(--dark);
  transform: translateY(-3px);
}

.link.Lattes img {
  width: 24px;
  filter: brightness(0) invert(1);
}

.link.Lattes:hover img {
  filter: brightness(0) invert(0.6);
}

/* ======= FOOTER ======= */
footer {
  background-color: var(--medium);
  text-align: center;
  padding: 20px;
  border-top: 1px solid var(--light);
  color: #cdd9e5;
  font-size: 0.9rem;
}

footer span {
  color: var(--secondary);
}


/* ======= RESPONSIVO ======= */

/* tablet */
@media (max-width: 1024px) {
  header {
    padding-left: 10%;
    padding-right: 10%;
  }

  #sobre {
    padding: 60px 20px;
  }
}

/* celular */
@media (max-width: 768px) {

  header {
    padding: 0;
  }

  #header-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;

    padding: 20px;
  }

  header h1{
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 0;
  }

  nav a {
    font-size: 0.95rem;
  }

  #sobre {
    flex-direction: column;
    text-align: center;
  }

  #sobre-img,
  #sobre-texto {
    width: 100%;
  }

  #sobre img {
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
  }

  #sobre p {
    text-align: left;
    font-size: 1rem;
  }

  .projeto-card {
    width: 100%;
    max-width: 350px;
  }

  .links-contato {
    gap: 15px;
  }
}

/* celulares menores */
@media (max-width: 480px) {
  header h1 {
    font-size: 1.6rem;
  }

  #sobre h2,
  #projetos h2,
  #contato h2 {
    font-size: 1.6rem;
  }

  nav a {
    display: inline-block;
    margin: 6px;
  }
}